:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%); /*(graphic design text)*/
  --Dark-blue: hsl(198, 62%, 26%); /*(photography text)*/
  --Dark-moderate-cyan: hsl(168, 34%, 41%); /*(footer)*/

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

header {
  background-image: url(../images/mobile/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  color: var(--White);
  text-align: center;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  position: relative;
}
main {
  height: 100vh;
}
/* section {
  display: flex;
  justify-content: space-between;
} */
.display-grid {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  align-items: center;
}

.display-grid img,
source,
picture {
  width: 100%;
  height: 100%;
}
.content-texts {
  padding: 4rem 2rem;
}
.content-texts .sub-title {
  font-size: clamp(4rem, 4vw, 5rem);
  /* font-size: clamp(4rem, 2.1699rem + 1.4085vw, 10rem); */
  color: var(--Very-dark-desaturated-blue);
  font-weight: 900;
  margin-bottom: 2rem;
}
.content-texts .text {
  font-size: clamp(1.8rem, 2vw, 2.1rem); /**/
  font-family: "Barlow", sans-serif;
  color: var(--Very-dark-grayish-blue);
  margin-bottom: 2rem;
  line-height: 150%;
}
.content-texts .link {
  text-transform: uppercase;
  color: #000;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  position: relative;
}
.content-texts .yellow::before {
  background-color: var(--Yellow);
}
.content-texts .pink::before {
  background-color: var(--Soft-red);
}

.content-texts .link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  height: 45%;
  transition: all 0.3s;
  opacity: 0.4;
}
.content-texts .link:hover::before {
  opacity: 1;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.services {
  flex: 1 1 45rem;
  height: 65rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.graphic {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--Dark-desaturated-cyan);
}
.photography {
  background-image: url(../images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--Dark-blue);
}
.texts {
  margin-bottom: 5rem;
  padding: 0 5vw;
}
.texts h3 {
  font-size: clamp(3rem, 3vw, 4.2rem); /*3rem,5vw*/
  margin-bottom: 2.5rem;
  font-weight: 900;
}
.texts p {
  font-size: clamp(1.6rem, 2vw, 2rem); /*1.7,3vw*/
  line-height: 150%;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
}

.testimunials {
  text-align: center;
  padding: 5rem 0;
}
.testimunials h3 {
  color: var(--Grayish-blue);
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 900;
  margin-bottom: 4rem;
}
.wapper-depoiments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}
.depoiment {
  margin-bottom: 6rem;
  flex: 1 1 300px;
  max-width: 450px;
}
.depoiment .img-profile img {
  width: 20%;
  border-radius: 100%;
  margin-bottom: 3rem;
}
.depoiment .text-depoiment {
  font-family: "Barlow", sans-serif;
  font-size: clamp(1.85rem, 1.8vw, 2.2rem); /*1.7,3vw*/
  color: var(--Dark-grayish-blue);
  margin-bottom: 3rem;
  line-height: 150%;
}
.depoiment .info-profile .name {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
  margin-bottom: 1rem;
}
.depoiment .info-profile .job {
  font-family: "Barlow", sans-serif;
  color: var(--Grayish-blue);
  font-size: 1.4rem;
}
.galery {
  display: grid;
  gap: 0;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.galery picture img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 920px) {
  header {
    background-image: url(../images/desktop/image-header.jpg);
  }
  .display-grid {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .img-right {
    grid-column: 2;
    grid-row: 1;
  }
  .content-texts {
    padding: 1.2rem max(40px, 11vw);
  }
  .graphic {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
  .photography {
    background-image: url(../images/desktop/image-photography.jpg);
  }
  .texts {
    padding: 0 clamp(5rem, 12vw, 22rem);
  }
  .testimunials {
    padding: 15rem 0;
  }
  .testimunials h3 {
    margin-bottom: 10rem;
  }
}
