* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Fraunces", serif;
  scroll-behavior: smooth;
}

.container {
  width: 90vw;
  margin: 0 auto;
}
