@media only screen and (min-width: 920px) {
  header {
    background-image: url(../../images/desktop/image-header.jpg);
  }
  .display-grid {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .img-right {
    grid-column: 2;
    grid-row: 1;
  }
  .content-texts {
    padding: 1.2rem max(40px, 11vw);
  }
  .graphic {
    background-image: url(../../images/desktop/image-graphic-design.jpg);
  }
  .photography {
    background-image: url(../../images/desktop/image-photography.jpg);
  }
  .texts {
    padding: 0 clamp(5rem, 12vw, 22rem);
  }
  .testimunials {
    padding: 15rem 0;
  }
  .testimunials h3 {
    margin-bottom: 10rem;
  }
}
